<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>React</title>
	</head>
	<body>
		<div id="root"></div>

		<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
		<script src="https://unpkg.com/react@^16/umd/react.development.js"></script>
		<script src="https://unpkg.com/react-dom@^16/umd/react-dom.development.js"></script>
		<script type="text/babel">
			// const root = document.querySelector('#root');
			// const heading = document.createElement('h1');
			// heading.innerText = 'Hello World!';
			// root.append(heading);

			// const heading = React.createElement(
			// 	'h1',
			// 	{ id: 'helloworld', className: 'hello' },
			// 	'Hello React'
			// );
			// const heading = <h1 id='hello'>{new Date().toUTCString()}</h1>;
			// // React.createElement('h1', {id: 'hello'}, 'Hello React!')

			// const header = (
			// 	<header>
			// 		<h1 className='logo'>{'My Application'.toUpperCase()}</h1>
			// 		<nav>
			// 			<a href='#'>Resources</a>
			// 			<a href='#'>Products</a>
			// 			<a href='#'>Sign In</a>
			// 			<a href='#'>Get Started</a>
			// 		</nav>
			// 	</header>
			// );

			// const header = React.createElement(
			// 	'header',
			// 	null,
			// 	React.createElement('h1', { className: 'logo' }, 'My Application'),
			// 	React.createElement(
			// 		'nav',
			// 		null,
			// 		React.createElement('a', { href: '#' }, 'Resources'),
			// 		React.createElement('a', { href: '#' }, 'Products'),
			// 		React.createElement('a', { href: '#' }, 'Sign In'),
			// 		React.createElement('a', { href: '#' }, 'Get Started')
			// 	)
			// );

			// const element = (
			// 	<div>
			// 		<h1>Hello World</h1>
			// 		<p>
			// 			Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
			// 			veniam unde similique cum iste ullam accusamus eum provident,
			// 			deleniti reprehenderit minima, maiores, sapiente itaque obcaecati
			// 			aliquam saepe! Ratione, at minima.
			// 		</p>
			// 	</div>
			// );

			// const element = React.createElement(
			// 	'div',
			// 	null,
			// 	React.createElement('h1', null, 'Hello World'),
			// 	React.createElement(
			// 		'p',
			// 		null,
			// 		'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus eniam unde similique cum iste ullam accusamus eum provident, deleniti reprehenderit minima, maiores, sapiente itaque obcaecati aliquam saepe! Ratione, at minima.'
			// 	)
			// );

			// const element = React.createElement('div', {
			// 	children: [
			// 		React.createElement('h1', {
			// 			children: 'Hello World Universe',
			// 		}),
			// 		React.createElement(
			// 			'p',
			// 			null,
			// 			'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus eniam unde similique cum iste ullam accusamus eum provident, deleniti reprehenderit minima, maiores, sapiente itaque obcaecati aliquam saepe! Ratione, at minima.'
			// 		),
			// 	],
			// });

			// const title = <h1 children='Hello World TEST MESSAGE' />;

			// const children = 'Hello World. This is the page title';
			// const className = 'title';
			// const props = { children, className };

			// // const title = <h1 {...props} className='helloworld' />;

			// const title = <h1 className={className.toUpperCase()}>{children}</h1>;

			// <article>
			// 			<h4>Article Title #1</h4>
			// 			<p>
			// 				Published on {new Date().toLocaleDateString()} by{' '}
			// 				<strong>John Doe</strong>
			// 			</p>
			// 			<p>
			// 				Lorem ipsum dolor sit amet consectetur, adipisicing elit.
			// 				Cupiditate tenetur inventore aliquam atque, officia, veritatis
			// 				nostrum, deserunt ut doloremque beatae enim ipsum sed? Quas ullam
			// 				eius repellendus voluptates fugit quibusdam.
			// 			</p>
			// 			<a href='#'>Read More</a>
			// 		</article>

			const BlogPost = ({
				title,
				date,
				author,
				children,
				link,
				highlight = true,
			}) => {
				return (
					<article>
						<h4>{title}</h4>
						<p style={{ backgroundColor: highlight ? 'yellow' : 'white' }}>
							Published on {date} by <strong>{author}</strong>
						</p>
						<p>{children}</p>
						<a href={link}>Read More</a>
					</article>
				);
			};

			// {BlogPost({
			// 			title: 'Article Title #1',
			// 			date: new Date().toLocaleDateString(),
			// 			author: 'Jane Doe',
			// 			children:
			// 				'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus eniam unde similique cum iste ullam accusamus eum provident, deleniti reprehenderit minima, maiores, sapiente itaque obcaecati aliquam saepe! Ratione, at minima.',
			// 			link: '#',
			// 		})}

			// 		{BlogPost({
			// 			title: 'Article Title #2',
			// 			date: new Date().toLocaleDateString(),
			// 			author: 'John Doe',
			// 			children:
			// 				'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus eniam unde similique cum iste ullam accusamus eum provident, deleniti reprehenderit minima, maiores, sapiente itaque obcaecati aliquam saepe! Ratione, at minima.',
			// 			link: '#',
			// 		})}

			// 		{React.createElement(BlogPost, {
			// 			title: 'Article Title #3',
			// 			date: new Date().toLocaleDateString(),
			// 			author: 'John Doe',
			// 			children:
			// 				'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus eniam unde similique cum iste ullam accusamus eum provident, deleniti reprehenderit minima, maiores, sapiente itaque obcaecati aliquam saepe! Ratione, at minima.',
			// 			link: '#',
			// 		})}

			// const article = () =>{}

			const posts = (
				<section>
					<BlogPost
						title='Article Title #4'
						date={new Date().toLocaleDateString()}
						author='John Doe'
						link='#'
						highlight={false}>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
						eniam unde similique cum iste ullam accusamus eum provident,
						deleniti reprehenderit minima, maiores, sapiente itaque obcaecati
						aliquam saepe! Ratione, at minima.
					</BlogPost>
				</section>
			);

			// const posts = (
			// 	<>
			// 		<p style={{ color: 'red', backgroundColor: 'yellow' }}>
			// 			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil,
			// 			fugiat.
			// 		</p>
			// 		<p>
			// 			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil,
			// 			fugiat.
			// 		</p>
			// 	</>
			// );

			ReactDOM.render(posts, document.querySelector('#root'));
		</script>
	</body>
</html>
