* {
	box-sizing: border-box;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

.box {
	height: 100px;
	width: 300px;
	background-color: maroon;
	color: white;
	font-size: 60px;
	border: 5px solid yellow;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: space-between;
	/* height: 500px;
	background-color: gray; */
}

/* .box1 {
	order: 2;
} */

/* .box3 { */
/* order: 1; */
/* flex-grow: 1;
} */

/*
.box5 {
	flex-grow: 2;
	align-self: flex-end;
}

.box2 {
	height: 200px;
}

.box4 {
	height: 600px;
	font-size: 120px;
}

.box3 {
	height: 300px;
} */
