* {
	box-sizing: border-box;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

.box {
	min-height: 100px;
	background-color: maroon;
	color: white;
	font-size: 60px;
	border: 5px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	display: grid;
	grid-template-columns: 1fr;
	/* grid-template-rows: 1fr 2fr 1fr; */
	/* grid-template-areas:
		"header header header ."
		"left-sidebar main-content main-content right-sidebar"
		"footer footer . ."; */
	gap: 20px;
}

@media screen and (min-width: 600px) {
	.container {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (min-width: 900px) {
	.container {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.box {
		background-color: blue;
	}
}


@media screen and (min-width: 1200px) {
	.container {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

@media print {
	.container {
		grid-template-columns: 1fr;
		display: none;
	}

	.box {
		background-color: green;
	}
}

/* .box2 {
	grid-column-start: 2;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 4;
} */

/* .box1 {
	grid-area: header;
}

.box2 {
	grid-area: left-sidebar;
}

.box3 {
	grid-area: main-content;
}

.box4 {
	grid-area: right-sidebar;
}

.box5 {
	grid-area: footer;
} */
