/* @import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
	font-family: 'sableklishregular';
	src: url('./assets/sableklish-webfont.woff2') format('woff2'),
		url('./assets/sableklish-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
} */


/* body {
	background: red;
} */

/* * { */
/* border: 2px solid red; */
/* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */

/* .important {
	border: 5px solid red;
}

.hello {
	border: 5px solid blue;
	background-color: yellow;
}

.important.hello {
	font-size: 30px;
} */

/* #title {
	border: 10px solid green;
} */

/* li {
	border: 5px solid blue;
} */

/* li.important {
	border: 5px solid blue;
} */

/* p,
div,
.important {
	border: 5px solid blue;
} */
/*
ul>li {
	border: 5px solid blue;
} */
/*
h5+p {
	border: 5px solid red;
} */

/* [href="https://google.com"] {
	border: 5px solid red;
} */


/* [class|="some"] {
	border: 5px solid red;
} */

/* [class^="some"] {
	border: 5px solid red;
} */

/* [class$="lists"] {
	border: 5px solid red;
} */

/* [class*="e-l"] {
	border: 5px solid red;
} */

/* p { */
/* border: 5px solid red;
	border-width: 5px;
	border-style: solid;
	border-color: blue; */
/* border-top: 15px solid blue;
	border-right: 5px solid red; */

/* border: 30px solid #7cd80b; */
/* border: 30px solid rgba(59, 7, 215, 0.9); */
/* border: 30px solid hsla(0, 90%, 50%, 1); */
/* border-width: 20px 5px 50px 100px;
	border-bottom-width: 1px; */
/* border-style: solid;
} */

/* p:hover {
	border: 30px solid hsla(0, 90%, 30%, 1);
} */
/*
.box {
	height: 300px; */
/* background: lightgray url(./assets/3.jpeg) no-repeat center center/cover; */
/* background-color: lightgray;
	background-image: url(./assets/favicon-32x32.png), url(./assets/3.jpeg);
	background-repeat: repeat-x, no-repeat;
	background-position: center center;
	background-size: 50px, cover; */
/* background-image: linear-gradient(to bottom right, lightgray, lightblue, blue, darkblue, yellow, orange, red); */
/* background-image: radial-gradient(red, yellow, orange, black, blue, green, purple, gray, brown, saddlebrown); */
/* background-repeat: no-repeat;
	background-position: center center;
	background-size: 192px, cover; */
/* background-attachment: fixed;
	display: flex;
	align-items: center;
	justify-content: center;

	-webkit-background-clip: text;
} */
/*
.box h1 {
	font-size: 120px;
	font-weight: bold;
	text-align: center;
	color: transparent;
} */


/* .box {
	height: 300px;
	background-color: white;
	margin: 100px;
	box-shadow: 0 0 20px 10px black, 10px 10px 200px 10px blue, -10px -10px 200px 10px red; */
/* border-radius: 5px 40px 100px 100px; */
/* } */


/* body {
	font-family: "PT Serif", serif;
} */

/* p {
	color: red;
	font-size: 20px;
	font-weight: 500;
	font-style: normal;
	text-transform: capitalize; */
/* text-decoration: underline; */
/* text-shadow: 2px 2px 1px black, -2px -2px 1px blue, -4px -4px 1px gray; */
/* line-height: 1.3;
	letter-spacing: -1px; */
/* word-spacing: 20px; */
/* text-align: justify;
} */

/* p,
span,
strong {
	border: 2px solid black;
} */

/* strong {
	display: inline-block;
	background-color: aqua;
	padding: 20px;
} */

* {
	box-sizing: border-box;
}

html {
	font-size: 100%;
}

body {
	margin: 0;
}

p {
	margin: 0;
}

/* .outer {
	background-color: yellow;
	height: 400px;
	width: 50vw;
} */

.box {
	background-color: aqua;
	/* padding: 50px 100px 100px 10px; */
	padding: 40px;
	border: 10px solid orange;
	margin: 20rem 0;
	width: 50%;
	box-sizing: border-box;
	/* max-height: 200px; */
	font-size: 1rem;
	overflow: auto;
	/* padding: 2rem; */
}

/* .my-img {
	float: none;
	position: fixed;
	top: 0;
	right: 0;
} */

/* .navbar {
	background-color: black;
	padding: 1.4rem 2rem;
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
}

.navbar h1 {
	margin: 0;
	color: white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */
