* {
	box-sizing: border-box;
}

html {
	font-size: 100%;
}

body {
	font-family: Inter, sans-serif;
	background-color: rgba(0, 0, 0, 0.07);
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 2rem;
	background-color: white;
	box-shadow: 0 0.05rem 0.4rem 0 rgba(0, 0, 0, 0.2);
}

.navbar a {
	text-decoration: none;
}

.navbar .logo {
	color: rgb(55, 99, 181);
	font-weight: 700;
	font-size: 1.5rem;
	letter-spacing: -1px;
}

.navbar nav {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.navbar nav a {
	color: black;
}

.navbar nav a:hover {
	color: rgb(55, 99, 181);
}

.navbar .cta {
	background-color: rgb(55, 99, 181);
	color: white;
	padding: 0.6rem 0.8rem;
	border-radius: 0.2rem;
	transition: all 0.2s;
}

.navbar .cta:hover {
	background-color: rgb(41, 73, 133);
	color: white;
}

.blog-posts {
	padding: 3rem 2rem;
}

.blog-posts h1 {
	font-size: 1.3rem;
	font-weight: 600;
	margin-bottom: 1.6rem;
}

.posts-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 1.3rem;
}

.post {
	background-color: white;
	box-shadow: 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.1);
	border-radius: 0.6rem;
	transition: all 0.2s;
}

.post:hover {
	transform: translateY(-0.5rem);
}

.post img {
	width: 100%;
	height: 9rem;
	object-fit: cover;
	border-top-left-radius: 0.6rem;
	border-top-right-radius: 0.6rem;
}

.post .body {
	padding: 1rem;
}

.post .body h3 {
	font-size: 1rem;
	font-weight: 700;
	margin-bottom: 1rem;
}
